# Ignore virtual environments
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary files
*.log
*.tmp
.DS_Store

# Ignore IDE and editor files
.idea/
.vscode/
